# navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# shortcuts
alias dl="cd /mnt/c/Users/felix/Downloads"
alias dt="cd /mnt/c/Users/felix/Desktop"
alias p="cd ~/projects"

# git
alias g='git'
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline --graph --decorate'

# safer file operations
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# disk usage
alias df='df -h'
alias du='du -h'
alias duh='du -sh *'

# ls
alias ls="ls --color=auto"
alias l="ls -lF"
alias la="ls -lAF"
alias lsd="ls -l | grep '^d'"

# grep
alias grep='grep --color=auto'

# sudo alias support
alias sudo='sudo '

# system
alias update="sudo apt update && sudo apt upgrade"

# utilities
alias myip="curl ifconfig.me"
alias path='echo -e ${PATH//:/\\n}'
alias reload="exec ${SHELL} -l"
alias map="xargs -n1"
